.view-stub
{
    width: 100%;
}

.view-stub__input-block
{
    margin-bottom: 10px;
}

.view-stub__input
{
    line-height: 28px;

    width: 300px;
    padding: 2px 3px;
}

.view-stub__apply
{
    font-size: 13px;
    line-height: 28px;

    margin-left: 10px;
    padding: 3px 15px;

    border: 1px solid black;
    border-radius: 3px;
    background-color: #ffdb4d;
    box-shadow: none;
}

.view-stub__container
{
    display: grid;

    grid-template-columns: 1fr 1fr;
}

.view-stub__log
{
    line-height: 28px;

    width: 600px;
    padding: 10px 5px;

    color: black;
    background-color: #eee;
}

.view-stub__label
{
    line-height: 28px;

    position: relative;

    width: 600px;
    padding: 10px 5px;

    color: black;
    background-color: #ddd;
}

.label-button
{
    font-size: 13px;
    line-height: 28px;

    position: absolute;
    right: 0;

    margin-right: 10px;
    padding: 3px 15px;

    border: 1px solid black;
    border-radius: 3px;
    background-color: #ffdb4d;
}
